<!doctype html>
<html lang="en" class="homepbody">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Developer CSS -->
        <link rel="stylesheet" type="text/css" href="dbms.css">

        <title>COMIDA</title>
    </head>
    <body class="homepbody">
        <!-- Navbar -->
        <nav class="navbar">
            <a class="navbar-brand" href="#">Comi<span>dA</span></a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item signup border rounded-lg">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </nav>

        <div class="row homepage-body">
            <!-- Discover restaurants as per location -->
            <div class="contain location mt-5 col-7">
                <form action="/store">
                    <div class="form-group col-8">
                        <label for="descriptionforlocationinput">Discover restaurants that deliver near you</label>
                        <div class="row mt-3">
                            <i><img src="icons/location/1x/location.png"></i>
                            <input type="text" class="form-control col-8 pl-5 rounded-lg" placeholder="Enter your delivery address">
                            <button type="submit btn" class="ml-3 px-3">Find Food</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="homepage-right-container col-5">
                <img src="images/burger-image.png">
            </div>
        </div>
        <!-- JavaScripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>