<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Developer CSS -->
        <link rel="stylesheet" type="text/css" href="dbms.css">

        <title>COMIDA</title>
    </head>
    <body>

        <!-- Navbar -->
        <nav class="navbar stores-navbar">
            <a class="navbar-brand" href="#">Comi<span>dA</span></a>
            <form class="form-inline">
                <div class="row">
                    <i><img src="icons/location/1x/location.png"></i>
                    <input type="text" class="form-control col-10 pl-5" placeholder="Enter your address">
                </div>
            </form>
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item signup border rounded-lg">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </nav>

        <form class="form-inline stores-search-bar stores-contain mt-4 mr-4">
            <i><img src="icons/search/2x/search.png"></img></i>
            <input type="search" class="form-control border-bottom pl-5" placeholder="Search for restaurant or cuisine">
        </form>
        <nav class="navbar stores-quick-links flex-column">
            <div class="quick-link-caption">Quick Links</div>
            <div class="row mt-2">
                <a class="delivery" href="#">
                    <img src="images/delivery.webp">
                    <div class="text-center">Delivery</div>
                </a>
                <a class="breakfast" href="#">
                    <img src="images/breakfast.webp">
                    <div class="text-center">Breakfast</div>
                </a>
                <a href="#">
                    <img src="images/lunch.webp">
                    <div class="text-center">Lunch</div>
                </a>
                <a href="#">
                    <img src="images/dinner.webp">
                    <div class="text-center">Dinner</div>
                </a>
                <a class="drinks" href="#">
                    <img src="images/drinksandnightlife.webp">
                    <div class="text-center">Drinks & Nightlife</div>
                </a>
                <a class="cafes" href="#">
                    <img src="images/cafes.webp">
                    <div class="text-center">Cafes</div>
                </a>
                <a class="pocket-friendly" href="#">
                    <img src="images/pocketfriendlydelivery.webp">
                    <div class="text-center">Pocket Friendly Delivery</div>
                </a>
                <a href="#">
                    <img src="images/dessertsandbakes.webp">
                    <div class="text-center">Desserts & Bakes</div>
                </a>
            </div>
        </nav>
        
        <div class="row restaurantcards">
            <% for(var i=0; i<20; i++){ %>
            <div class="col-4"><a href="/restaurantpage/<%=sql[i].RestaurantID%>">
                <div class="card mb-5">
                    <img src="images/restaurantcardthumbnail.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=sql[i].RestaurantName %></h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">• <%=sql[i].Cuisine %></li>
                      <!--  <li class="list-inline-item">• Cuisine 2</li> -->
                        </ul>
                        <div class="rating"><%=sql[i].AggregateRating %><img src="icons/starrating/2x/starrating.png"></div>
                    </div>
                </div></a>
            </div>
            <% } %>
        </div>
        <!-- JavaScripts -->
        <script>
            // function redirect() {
            //     var s=sql[0].RestaurantID;
            //     location.href='/restaurantpage/'+s;
            // };
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>